<!-- <div class="ui inverted masthead centered segment">
    <div class="ui page grid">
      <div class="column">


		<div class="ui secondary pointing menu">
		   <a class="logo item">
		  Easyshopp
		  </a>
		  <a class="active item">
		    <i class="home icon"></i> Home
		  </a>
		  <a id="about" class="item">
		    <i class="mail icon"></i> About
		  </a>
		  <a href ="#contact"class="item">
		    <i class="heart icon"></i> Contact
		  </a>
		  <div class="right menu">
		    <div class="item">
		      <div class="ui icon input">
		      
		        <i class="marker icon"></i>
		      </div>
		    </div>
		    <a class="ui item">
		    	<i class="add to cart large icon"></i>
		    </a>
<%#if user_signed_in? %>
<%#= link_to 'Log Out', session_destroy_path, method: 'destroy', :class =>'ui item' %>
<% #else %>
<%#= link_to 'Log In', new_user_session_path, :class =>'ui item' %>
<% #end %>
		    
		    
		  </div>
		</div>
</div>
</div>
</div> -->
<div class="ui segment">
	
Hello Welcome to easy shopper, <%= current_user %>
</div>
		     
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
<div class="inline field" style="margin-bottom: 20px;">
<i class="twitter large icon"></i>
<i class="vine large icon"></i>
<i class="facebook large icon"></i>
<i class="whatsapp large icon"></i>
</div>
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Group 1</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Group 2</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Group 3</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
     
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>